
<!DOCTYPE HTML>
<html>
<head>
<title>Thinkin PSM Website | ActiveStatus</title>
<link href="/static/base/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/base/static/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/static/base/static/jsweb/jquery.min.js"></script>
</head>
<body>
 <!--start menu-->
	{% include "nav-top.html" %}
    <!--start menu-->
       <div class="main">
          <div class="login_top">
          	<div class="container">
            <div class="col-md-4">
				 <div class="login-page">
                     <span style="color: coral">{{ msg }}</span>
					 <div class="clear"></div>
				  </div>
				</div>
				<div class="clear"></div>
			  </div> <!-- end container -->
			</div><!-- end login top -->
         </div> <!-- end main -->
</body>
</html>