
<!DOCTYPE HTML>
<html>
<head>
<title>Thinkin PSM Website | Forgot</title>
<link href="/static/base/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/base/static/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/static/base/static/jsweb/jquery.min.js"></script>
</head>
<body>
 <!--start menu-->
	{% include "nav-top.html" %}
    <!--start menu-->
       <div class="main">
          <div class="login_top">
          	<div class="container">
            <div class="col-md-6">
				 <div class="login-page">
					<h4 class="title">新用户</h4>
					<p>登录视为您已同意服务协议、服务条款、隐私政策</p>
					<div class="button1">
					   <a href="/register/"><input type="submit" name="Submit" value="创建账号"></a>
					 </div>
					 <div class="clear"></div>
				  </div>
				</div>
				<div class="col-md-6">
				 <div class="login-page">
				  <div class="login-title">
	           		<h4 class="title">忘记密码</h4>
					<p id="loginbox" class="login_details">
						<form action="/forgotpassword/" method="post" name="login_form" id="login-form">
                          {% csrf_token %}
						  <fieldset class="input">
						    <div id="login-form-username">
						      <label for="modlgn_username">用户名</label>
                                {{ forgot_form.username }}
                                <span style="color: coral">{{ msg.username.0}}</span>
						    </div>
						    <div id="login-form-email">
						      <label for="modlgn_email">邮箱地址</label>
                                {{ forgot_form.email }}
                                <span style="color: coral">{{ msg.email.0}}</span>
						    </div>
                            <div id="login-form-cellphone">
						      <label for="modlgn_cellphone">手机号码</label>
                                {{ forgot_form.cellphone }}
                                <span style="color: coral">{{ msg.cellphone.0}}</span>
						    </div>
                          <div id="login-form-password">
						      <label for="modlgn_password">新密码</label>
                                {{ forgot_form.password }}
                                <span style="color: coral">{{ msg.password.0}}</span>
						    </div>
                          <div id="login-form-password2">
						      <label for="modlgn_password2">确认密码</label>
                                {{ forgot_form.password2 }}
                                <span style="color: coral">{{ msg.password2.0}}</span>
						    </div>
                    <!-- PSM add -->
                        <div id="id_captcha_100">
                        <label for="modlgn_captcha">验证码</label>
                        {{ forgot_form.captcha }}
                        {% for error in forgot_form.captcha.errors %}
                        <p id="error_{{forloop.counter}}_{{field.auto_id}}" style="color:red" class="text-danger help-block">{{error}}</p>
                        {% endfor %}
                        </div> <!-- end captcha 100 -->
                     <!-- PSM end -->
						    <div class="remember">
							    <input type="submit" name="Submit" class="button" value="重置密码"><div class="clear"></div>
                            </div>
						   </fieldset>
                          {% csrf_token %}
						 </form>
                    </p> <!-- end login box -->
					</div>
			      </div> <!-- end login page -->
				</div><!-- end md-6 -->
				<div class="clear"></div>
			  </div> <!-- end container -->
			</div><!-- end login top -->
         </div> <!-- end main -->
<script type="text/javascript">
<!-- PSM add -->
document.getElementById('id_username').focus()
$(function () {
    $("#id_captcha_1").addClass("form-control input-lg").css({"width": "200px", "display": "inline-block", "margin-left":"15px", "height": "40px"}).attr("placeholder", "请输入验证码");
    // 图片验证码点击刷新事件,以下是新增行
    $("#id_captcha_100 img").click(function () {
      $.get("/captcha/refresh/", function (data) {
        if (data.key != "") {
          $("#id_captcha_100 img").attr("src", data.image_url);
          $("#id_captcha_0").attr("value", data.key)
        }
      })
    })
})
document.getElementById('id_username').focus()
</script>
</body>
</html>