<!DOCTYPE HTML>
<html>
<head>
<title>Thinkin PSM Website  | Resource Detail</title>
<link href="/static/base/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/base/static/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/static/base/static/jsweb/jquery.min.js"></script>
<!-- grid-slider -->
<script type="text/javascript" src="/static/base/static/jsweb/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/static/base/static/jsweb/jquery.contentcarousel.js"></script>
<!-- //grid-slider -->
<!---calender-style---->
<link rel="stylesheet" href="/static/base/static/css/jquery-ui.css" />
<!---//calender-style---->
</head>
<body>
<!--start menu-->
	{% include "nav-top.html" %}
    <!--start menu-->
 <div class="main">
         {% for resourcetop in resourcetop_list %}
       		<div class="about_banner_img"><img src="{{ resourcetop.image }}" class="img-responsive" alt=""/>
	   		</div>
		    <div class="about_banner_wrap">
      	        <h1 class="m_11">{{ resourcetop.subject }}</h1>
		    </div>
         {% endfor %}
          <div class="login_top">
          	<div class="container">
             <form action="/resourcedetailedit/?resource_dummy={{ resource_dummy }}" method="post" name="resourcedetail_form" id="resourcedetail_form" enctype="multipart/form-data">
             {% csrf_token %}
			  <div class="col-md-6">
				 <div class="login-page">
					<h4 class="title">基本信息 {{ resourcedetail_form.mode }} {{ resourcedetail_form.nowuser }} </h4>
                     <div id="loginbox" class="loginbox">
                         <fieldset class="input">
                                    {% if resourcedetail_form.image  %}
                                        <p id="login-form-image">
                                        <img src="{{ imageurl }}" class="img-rounded img-circle" alt="" style="width: 240px; height: 240px">
                                        <a style="display: none">{{ imageurl }}</a>
                                        </p>
                                        <p>
                                        <label>更换头像*</label>
                                            {{ resourcedetail_form.image }}
                                            <span style="color: coral">{{ msg.image.0}}</span>
                                        </p>
                                    {% else %}
                                        <p id="login-form-image">
                                        <label>添加头像*</label>
                                           {{ resourcedetail_form.image }}
                                         <span style="color: coral">{{ msg.image.0}}</span>
                                        </p>
                                    {% endif %}
                         <p id="login-form-onwebpage">
                                  <label for="onwebpage">网页展示</label>
                                     {{ resourcedetail_form.onwebpage }}
                                     <span style="color: coral">{{ resourcedetail_form.msg.onwebpage.0}}</span>
                         </p>
                         <p id="login-form-nickname">
                                  <label for="nickname">昵称</label>
                                     {{ resourcedetail_form.nickname }}
                                     <span style="color: coral">{{ resourcedetail_form.msg.nickname.0}}</span>
                         </p>
                         <p id="login-form-contact">
                                  <label for="contact">联系信息</label>
                                     {{ resourcedetail_form.contactinfo }}
                                     <span style="color: coral">{{ resourcedetail_form.msg.contactinfo.0}}</span>
                         </p>
                         <p id="login-form-city">
                                  <label for="city">所在城市</label>
                                     {{ resourcedetail_form.basecity }}
                                     <span style="color: coral">{{ resourcedetail_form.msg.basecity.0}}</span>
                         </p>
                          <p id="login-form-type">
                                  <label for="type">类型</label>
                                     {{ resourcedetail_form.resourcetype }}
                                     <span style="color: coral">{{ resourcedetail_form.msg.resourcetype.0}}</span>
                          </p>
	                    </fieldset>
                     </div>
					 <div class="clear"></div>
				  </div>
				</div> <!-- wnd md-6 -->
				<div class="col-md-6">
				 <div class="login-page">
				  <div class="login-title">
	           		<h4 class="title">专业信息</h4>
					<div id="loginbox" class="loginbox">
						  <fieldset class="input">
						    <p id="login-form-brief">
						      <label for="brief">简述</label>
						         {{ resourcedetail_form.brief }}
                                 <span style="color: coral">{{ resourcedetail_form.msg.brief.0}}</span>
						    </p>
						    <p id="login-form-feature">
						      <label for="feature">特点</label>
						      {{ resourcedetail_form.feature }}
                                 <span style="color: coral">{{ resourcedetail_form.msg.feature.0}}</span>
						    </p>
                              <p id="login-form-value">
						      <label for="value">价值</label>
						      {{ resourcedetail_form.value }}
                                 <span style="color: coral">{{ resourcedetail_form.msg.value.0}}</span>
						    </p>
                              <p id="login-form-summary">
						      <label for="summary">特点</label>
						      {{ resourcedetail_form.summary }}
                                 <span style="color: coral">{{ resourcedetail_form.msg.summary.0}}</span>
						    </p>
                          <p id="login-form-owner">
						      <label for="owner">所有人</label>
						      {{ resourcedetail_form.owner }}
                                 <span style="color: coral">{{ resourcedetail_form.msg.owner.0}}</span>
						    </p>
                          <p id="login-form-resourcecode">
						      <label for="resourcecode">关联用户</label>
						      {{ resourcedetail_form.resourcecode }}
                                 <span style="color: coral">{{ resourcedetail_form.msg.resourcecode.0}}</span>
						    </p>
						    <div class="remember">
                                 {% for error in  msg %}
                                    <span style="color: coral">{{ error }}</span>
                                {% endfor %}
							    <input type="submit" name="Submit" class="button" value="保存"><div class="clear"></div>
							 </div>
						  </fieldset>

					</div>
			      </div>
				</div>
				<div class="clear"></div>
			  </div> <!-- md-6 -->
             </form>
			</div>
		  </div>
         </div> <!-- end main -->
    {% include "nav-footer.html" %}
</body>
</html>