<!DOCTYPE HTML>
<html>
<head>
<title>Thinkin PSM Website | Trainers</title>
<link href="/static/base/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/base/static/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/static/base/static/jsweb/jquery.min.js"></script>
<!-- grid-slider -->
<script type="text/javascript" src="/static/base/static/jsweb/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/static/base/static/jsweb/jquery.contentcarousel.js"></script>
<!-- //grid-slider -->
<!---calender-style---->
<link rel="stylesheet" href="/static/base/static/css/jquery-ui.css" />
<!---//calender-style---->
</head>
<body>
<!--start menu-->
	{% include "nav-top.html" %}
    <!--start menu-->
	<div class="main">
       		<div class="about_banner_img"><img src="/static/base/static/imagesweb/trainers.png" class="img-responsive" alt=""/>
	   		</div>
		 <div class="about_banner_wrap">
      	    <h1 class="m_11">讲 师</h1>
		 </div>
		 <div class="border">
		 </div>
		<div class="container"> <!-- for 循环开始 -->
		   <div class="row single-top">
				<div class="col-md-12">
				 <div class="single_class-left">
                     <div class="view view-fifth">
				  	   <img src="/static/base/static/imagesweb/pic4.jpg" class="img-responsive" alt=""/>
                         <div class="mask">
                              <div class="info">Read More</div>
			              </div>
					 </div>
				  <div class="singe_desc">
				    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla </p>
				    <ul class=single_grid>
				    	<li class="grid1">
				    	  <h3 class="m_13">Trainer</h3>
				    	  <img src="/static/base/static/imagesweb/s2.jpg" class="img-responsive" alt=""/><!--讲师个人图片 -->
						  <h4>Lorem Ipsum<br><span class="m_text">Spinning</span></h4>
						  <p>Lorem ipsum dolor sit amet, consectetuer.</p>
				    	</li>
				    	<li class="grid2">
				    	   <h3 class="m_13">Featured</h3>
				    	   <ul class="list1_class">
				    	   	 <li><a href="#">nostrud exerci tation</a></li>
				    	   	 <li><a href="#">exerci tation ullamcor</a></li>
				    	   	 <li><a href="#">dolore eu feugiat tation</a></li>
				    	     <li><a href="#">claritatem insitam tation</a></li>
				    	     <li><a href="#">nostrud exerci tation</a></li>
				    	     <li><a href="#">exerci tation ullamcor</a></li>
				    	   </ul>
				    	</li>
						<li class="grid3">
				    	   <h3 class="m_13">Duration of class</h3>
				    	   <ul class="list2_class">
							 <li><a href="#">1 day session<p class="price">$ &nbsp;&nbsp;19,90 </p></a><div class="clear"></div></li>
							 <li><a href="#">3 days session<p class="price">$ &nbsp;&nbsp;15,90 </p></a><div class="clear"></div></li>
							 <li><a href="#">5 days session<p class="price">$ &nbsp;&nbsp;27,90 </p></a><div class="clear"></div></li>
						   </ul>
				    	</li>
				    	<div class="clear"></div>
				    </ul>
				  </div>
			     </div>
			     </div>
			</div><!-- for 循环结束 -->
			<div class="row single-top">
				<div class="col-md-12">
				 <div class="single_class-left">
                   <div class="view view-fifth">
				  	   <img src="/static/base/static/imagesweb/s1.jpg" class="img-responsive" alt=""/>
					      <div class="mask">
	                       	<div class="info">Read More</div>
			              </div>
					 </div>
				  <div class="singe_desc">
				    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla </p>
				    <ul class=single_grid>
				    	<li class="grid1">
				    	  <h3 class="m_13">Trainer</h3>
				    	  <img src="/static/base/static/imagesweb/pic1.jpg" class="img-responsive" alt=""/> <!--讲师 个人图片 -->
						  <h4>Lorem Ipsum<br><span class="m_text">Spinning</span></h4>
						  <p>Lorem ipsum dolor sit amet, consectetuer.</p>
				    	</li>
				    	<li class="grid2">
				    	   <h3 class="m_13">Featured</h3>
				    	   <ul class="list1_class">
				    	   	 <li><a href="#">nostrud exerci tation</a></li>
				    	   	 <li><a href="#">exerci tation ullamcor</a></li>
				    	   	 <li><a href="#">dolore eu feugiat tation</a></li>
				    	     <li><a href="#">claritatem insitam tation</a></li>
				    	     <li><a href="#">nostrud exerci tation</a></li>
				    	     <li><a href="#">exerci tation ullamcor</a></li>
				    	   </ul>
				    	</li>
						<li class="grid3">
				    	   <h3 class="m_13">Duration of class</h3>
				    	   <ul class="list2_class">
							 <li><a href="#">1 day session<p class="price">$ &nbsp;&nbsp;19,90 </p></a><div class="clear"></div></li>
							 <li><a href="#">3 days session<p class="price">$ &nbsp;&nbsp;15,90 </p></a><div class="clear"></div></li>
							 <li><a href="#">5 days session<p class="price">$ &nbsp;&nbsp;27,90 </p></a><div class="clear"></div></li>
						   </ul>
				    	</li>
				    	<div class="clear"></div>
				    </ul>
				  </div>
			     </div>
			     </div>
			</div>
		  </div><!-- end container -->

			<div class="login">
	  	    <div class="row login_details">
		 	  <div class="col-md-6">
				  <div class="join">
				  	 <div class="btn3">
				       <a href="/register/">现在加入</a>
			         </div>
				  </div>
			  </div><!-- end col-md-6-->
				<div class="col-md-6">
				  <div class="join-right">
				  	<div class="buttons_login">
				  	 <div class="btn4">
				       <a href="/login/">登 录</a>
			         </div>
			         <div class="p-ww">
					  <form>
					   <input class="date" id="datepicker" type="text" value="查 看 日 历" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '查 看 日 历';}">
					  </form>
				     </div><!-- end p-ww -->
			         	<div class="clear">
					 	</div>
				   </div><!-- end button-login -->
				  </div><!-- end join-right -->
					<div class="clear"></div>
				</div><!-- end col-md-6-->
			         <!---strat-date-piker---->
				  <script src="/static/base/static/jsweb/jquery-ui.js"></script>
				  <script>
				  $(function() {
				    $( "#datepicker" ).datepicker();
				  });
				  </script>
				<div class="clear"></div>
		   </div><!-- end login-detail -->
	   </div><!-- end login-->
		<div class="testimonial"> <!-- 中间间隔的样式 -->
		</div>
	</div> <!-- end main -->
    {% include "nav-footer.html" %}
</body>
</html>